.s48-500-white {
    font-size: 36px !important;
    font-weight: 500 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}
.s36-500-white {
    font-size: 36px !important;
    font-weight: 500 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}

.s36-500 {
    font-size: 36px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s28-500 {
    font-size: 28px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s28-500-white {
    font-size: 28px !important;
    font-weight: 500 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}

.s24-500-white {
    font-size: 24px !important;
    font-weight: 500 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}
.s24-500 {
    font-size: 24px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s20-500 {
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}


.s18-500 {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s18-400 {
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s17-500 {
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s16-500 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s16-400 {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}
.s16-500 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s16-400-white {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}

.s14-500-blue {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: blue !important;
    text-decoration: none;

    line-height: 140%;
}

.s14-500 {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s14-400 {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s12-500-white {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: white !important;
    text-decoration: none;

    line-height: 140%;
}

.s12-500 {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s12-400 {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s12-300 {
    font-size: 12px !important;
    font-weight: 300 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s10-500 {
    font-size: 10px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s10-400 {
    font-size: 10px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s8-500 {
    font-size: 8px !important;
    font-weight: 500 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.s8-400 {
    font-size: 8px !important;
    font-weight: 400 !important;
    color: #00416d !important;
    text-decoration: none;

    line-height: 140%;
}

.bayangan {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bayangan:hover {

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}